* {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: blue;
    height: 120px;
    width: 100%;
    color: white;
}

img {
    display: block;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

h2, h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 30px;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: solid grey 5px;
    box-shadow: 5px 10px #888;
}
